.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.note{
    color:black;
    font-size: 15px;
}

.copyright_footer{
    color:white;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}
